* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #262626;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #181818;
    border-top: 1px solid #fff;
}

.hero {
    font-size: 1.5rem;
    text-align: center;
}

.hero * {
    margin: 10px 0;
}