<nav class="active" id="nav">
    <ul>
        <li><a href="#home"><i class="fa fa-"></i> Home</a></li>
        <li><a href="#transform"><i class="fa fa-"></i> Transform</a></li>
        <li><a href="#translate"><i class="fa fa-"></i> Translate</a></li>
        <li><a href="#rotate"><i class="fa fa-"></i> Rotate</a></li>
        <li><a href="#skew"><i class="fa fa-"></i> Skew</a></li>
        <li><a href="#scale"><i class="fa fa-"></i> Scale</a></li>
        <li><a href="#matrix"><i class="fa fa-"></i> Matrix</a></li>
        <li><a href="#zadani"><i class="fa fa-"></i> Zadání</a></li>
    </ul>
</nav>